@import "vars";
@import "fonts";
@import "libs";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $default-font;
  line-height: 23px;
  font-weight: 300;
  color: $color-text;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.width-content {
  min-height: 350px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "page-header";
@import "main-navigation";
@import "button";
@import "banner";
@import "service-icon";
@import "section-title";
@import "service";
@import "confidence";
@import "contacts";
@import "specialists";
@import "reviews";
@import "page-footer";
@import "social";
@import "content";






@import "media"; // Always at the end
