<footer class="page-footer">
  <div class="page-footer__wrapper">

    <div class="page-footer_name">
      <b class="page-footer__title-line1">Стоматология</b>
      <p class="page-footer__title-line2">На Калиновой 28</p>
    </div>

    <div class="page-footer-contacts__mobile">
      <p class="page-footer-contacts__address">
        г. Днепр, Индустриальный район,
        <br>
        ул. Калиновая 28, п. 1
      </p>
      <a class="page-footer__phone button button--phone-number button--inverse" href="tel: +380952543335">+38 (095)
        254-33-35</a>
    </div>

    <div class="page-footer-nav">
      <b class="page-footer-nav__title">Меню</b>
      <ul class="page-footer-nav__list">
        <li class="page-footer-nav__list-item">
          <a href="index.html">Главная</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="index.html#service">Услуги</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="price.html">Цены</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="index.html#contacts">Контакты</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="index.html#specialists">Врачи</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="index.html#reviews">Отзывы</a>
        </li>
      </ul>
    </div>

    <div class="page-footer-nav">
      <b class="page-footer-nav__title">Услуги</b>
      <ul class="page-footer-nav__list">
        <li class="page-footer-nav__list-item">
          <a href="diagnostic.html">Диагностика</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="teeth.html">Лечение зубов</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="gum.html">Лечение дёсен</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="surgery.html">Удаление зубов</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="beauty.html">Красота зубов</a>
        </li>
        <li class="page-footer-nav__list-item">
          <a href="children.html">Для детей</a>
        </li>
      </ul>
    </div>

    <div class="page-footer-contacts">
      <b class="page-footer-contacts__title">Контакты</b>
      <div class="page-footer-contacts__info">
        <p class="page-footer-contacts__schedule">Пн-Пт: 09:00 - 18:00; Сб:
          09-00 - 14:00</p>
        <a class="page-footer-contacts__phone" href="tel: +380952543335">+38
          (095) 254-33-35</a>
        <p class="page-footer-contacts__address">
          г. Днепр, Индустриальный район,
          <br>
          ул. Калиновая 28, п. 1
        </p>
      </div>
    </div>

  </div>
  <div class="page-footer__social">
    <div class="page-footer__social-wrapper">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--facebook" href="" aria-label="Мы в Фейсбуке"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--instagram" href=""></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--linkedin" href="" aria-label="Мы в LinkedIn"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>