<header class="page-header">
  <a name="index"></a>
  <div class="page-header__wrapper">
    <a class="page-header__logo">
      <img src="img/SVG/TOP_MENU_Logo_K28.svg" width="212px" height="auto" alt="Логотип стоматологии">
    </a>

    <nav class="main-nav main-nav--closed main-nav--nojs">
      <button class="main-nav__toggle" type="button">
        <span class="visually-hidden">Открыть меню</span>
      </button>
      <ul class="main-nav__list">
        <li class="main-nav__list-item main-nav__list-item--main main-nav__list-item--active"><a>Главная</a></li>
        <li class="main-nav__list-item main-nav__list-item--serv"><a href="#service" id="js-service-link">Услуги</a>

          <ul class="main-nav__drop">
            <li class="main-nav__drop-item"><a href="diagnostic.html">Диагностика</a></li>
            <li class="main-nav__drop-item"><a href="teeth.html">Лечение
                зубов</a></li>
            <li class="main-nav__drop-item"><a href="gum.html">Лечение дёсен</a></li>
            <li class="main-nav__drop-item"><a href="surgery.html">Удаление
                зубов</a></li>
            <li class="main-nav__drop-item"><a href="beauty.html">Красота
                зубов</a></li>
            <li class="main-nav__drop-item"><a href="children.html">Для детей</a></li>
          </ul>

        </li>
        <li class="main-nav__list-item"><a href="price.html">Цены</a></li>
        <li class="main-nav__list-item"><a href="#contacts" id="js-contacts-link">Контакты</a></li>
        <li class="main-nav__list-item"><a href="#specialists" id="js-spec-link">Врачи</a></li>
        <li class="main-nav__list-item"><a href="#reviews" id="js-reviews-link">Отзывы</a></li>
      </ul>
    </nav>
    <a class="page-header__phone button button--phone-number" href="tel:+380952543335" aria-label="Номер телефона">(095)
      254-33-35</a>
  </div>
</header>